
nav
{
    display: flex ;
         justify-content: space-between ;
         justify-content: space-around;
    
    margin: 20px ;
    padding: 20px ;
    font-size: 150% ;
    
-         background-image: url("img/cosmos_wide-b549c59e70c5ebe70df228384fdc2ad37c83767a.jpg");
    
         background-color:black;
         background-color:darksalmon;
}
body
{
    
         background-image: url("img/88544695_o.jpg");
         background-image: url("img/cosmos_wide-b549c59e70c5ebe70df228384fdc2ad37c83767a.jpg");
}
#erreur
{
    color: red ;
}
#creationFamille
{
    border: black 1px solid ;
}
#afficheFamille
{
    display: flex ;
    flex-direction: column;
    border: black 1px solid ;
    
    display: flex ;
    align-items: center;
}
.creationFlashCards
{
    border: black 1px solid ;

    background-color: darkgrey ;
    background-color: chocolate ;
    background-color: aquamarine ;
    background-color: deepskyblue ;
    
    display: flex ;
    flex-direction: column;
    align-items: center;
}
pre p
{
    color: white ;
    color: cyan ;
    font-size: 150% ;
         background-color:black;
}
textarea
{
    color: darkblue;
    color: white ;
    font-size: 250% ;
    width : 100px ;
    width : 55% ;
    
    height : 100px ;
         background-image: url("img/spacee.jpg");
         background-image: url("img/88544695_o.jpg");
-    background-position: center  ;
}
.famille
{
    color: darkblue;
}
nav
{
    color: darkblue;
    border: black 1px solid ;
}